.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    &__black {
        background-color: #111;
    }
    &__contents {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        position: fixed;
        left: 0;
        top: 10px;
        width: 80px;
        padding-left: 20px;
        object-fit: contain;
        cursor: pointer;

    }
    &__avatar {
        position: fixed;
        right: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}